@model Student

<h2>PLease Update the Student Detail</h2>

<form method="post" action="/Student/EditStudent">

    @*<h2 style="color:black">Student Id: @Model.Id</h2>*@
    <p>ID=@Model.Id</p>
    @Html.HiddenFor(m => m.Id)

    <label>Name:</label>
    <input type="text" name="Name" id="Name" placeholder="Name" value="@Model.Name" class="form form-control" />

    <label>Dept:</label>
    <input type="text" name="Dept"id="Dept" placeholder="Dept" value="@Model.Dept" class="form form-control" />

    <label>Email:</label>
    <input type="email" name="Email" id="Email"class="form form-control" value="@Model.Email" placeholder="Email" />

    <label>Address:</label>
    <input type="text" name="Address" id="Address" class="form form-control" value="@Model.Address" placeholder="Address" />

    <label>ContractNo:</label>
    <input type="text" name="Contact No" id="ContactNo"class="form form-control" value="@Model.ContactNo" placeholder="Contact No" /><br />

    <input type="submit" value="UpDate Details" />
</form>
